<div>
    <img id="image" src="~/Content/images/books.jpg" alt="Picture">
</div>
<script>
    window.addEventListener('DOMContentLoaded', function () {
        var image = document.querySelector('#image');
        var cropper = new Cropper(image, {
            scalable: false,
            aspectRatio: 9 / 16,
            viewMode: 1
        });
    });
</script>
