@model ThaoPhatRainCoat.Models.ShopModel

@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-app="appShopPage" ng-controller="shopController" ng-init="init()" id="shopController">
    <div class="top-carousel">
        <div class="carousel carousel-slider center " data-indicators="true">
            <div class="carousel-fixed-item center middle-indicator">
                <div class="left">
                    <a href="Previo" class="movePrevCarousel middle-indicator-text waves-effect waves-light content-indicator"><i class="fa fa-angle-left"></i></a>
                </div>

                <div class="right">
                    <a href="Siguiente" class=" moveNextCarousel middle-indicator-text waves-effect waves-light content-indicator"><i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <a class="carousel-item" href="#one!"><img src="http://s20.postimg.org/h50tgcuz1/image.jpg"></a>
            <a class="carousel-item" href="#two!"><img src="http://s20.postimg.org/uxf8bzlql/image.jpg"></a>
            <a class="carousel-item" href="#two!"><img src="http://s20.postimg.org/el56m97f1/image.jpg"></a>
            <a class="carousel-item" href="#two!"><img src="http://s20.postimg.org/66pjy66dp/image.jpg"></a>
        </div>

    </div>
    <div class="top-control-bar">
        <ul class="top-control-bar-ul">
            <li>
                <a class="waves-effect waves-light btn btn-style-top-bar btn-new" ng-click="showAdvanced($event, false)">
                    <i class="fa fa-plus"></i> New
                </a>
            </li>
        </ul>
    </div>
    <div class="search-bar">
        <input type='text'
               placeholder=" Search product's name..."
               id='search-text-input'
               ng-model="searchKey" />

        <div id='button-holder'
             class="waves-effect waves-light"
             ng-click="searchProduct()">
            <img src='~/Content/images/search-icon.png' />
        </div>
        <div id="filter-sort-by">
            <ul id="dropdown" class="dropdown-content">
                <li ng-click="sortBy($event)" name="1"><span>Catalog price: High to Low</span></li>
                <li ng-click="sortBy($event)" name="2"><span>Catalog price: Low to High</span></li>
                <li ng-click="sortBy($event)" name="3"><span>Name - A to Z</span></li>
                <li ng-click="sortBy($event)" name="4"><span>Name - Z to A</span></li>
            </ul>

            <button id="sort-criterion" class="dropdown-button w3-btn w3-round-xxlarge sort-by waves-effect waves-light w3-margin-left"
                    data-activates="dropdown">
                Sort by
                <i class="fa fa-caret-down"></i>
            </button>
        </div>
    </div>
    <div class="grid-list-product">
        <div ng-repeat="product in allProducts"
             class="product-grid"
             ng-click="selectProduct($event, product)"
             ng-dblclick="showAdvanced($event, true)">
            <div class="product-image padding-left">
                @*<img class="product-image" src="~/Content/images/books.jpg" />*@
                <label class="label" data-toggle="tooltip" title="Change your avatar">
                    <img class="rounded image-avatar" ng-src="{{product.ImageValue}}" alt="avatar">
                    <input type="file" class="sr-only image-input" onchange="angular.element(this).scope().changeImage(this)" name="image" accept="image/*">
                </label>
            </div>
            <div class="product-name padding-left">
                <span>{{product.Name}}</span>
                @*<input type="text" ng-if="product.isEditable" ng-model="product.Name" placeholder="product's name" />*@
            </div>
            <div class="product-price padding-left">
                <span>{{product.Price | currency: "₫ ": 3}}</span>
                @*<input type="number" ng-if="product.isEditable" ng-model="product.Price" />*@
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="createUpdate.tmpl.html">
        <md-dialog aria-label="Mango (Fruit)" class="dialog-template">
            <form ng-cloak class="dialog-form">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>{{isEditMode ? 'Edit product' : 'Create new product'}}</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="cancel()">
                            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-dialog-content class="md-dialog-content-class">
                    <div class="md-dialog-content">
                        <div class="product-image padding-left" style="height: 700px">
                            <label class="label" data-toggle="tooltip" title="Choose the product's image">
                                <img class="rounded" ng-src="{{selectedProduct.ImageValue}}" alt="productImage">
                                <input type="file" class="sr-only image-input" onchange="angular.element(this).scope().changeImage(this)" name="image" accept="image/*">
                            </label>
                        </div>
                        <div class="product-name-popup padding-left">
                            <input type="text" ng-model="selectedProduct.Name" placeholder="product's name" />
                        </div>
                        <div class="product-price-popup padding-left">
                            <input type="number" ng-model="selectedProduct.Price" />
                        </div>
                    </div>
                </md-dialog-content>
                <md-dialog-actions layout="row">
                    <md-button ng-click="answer(true, selectedProduct)">
                        Save
                    </md-button>
                    <md-button ng-click="answer(false)">
                        Cancel
                    </md-button>
                    <md-button ng-click="delete()">
                        Delete
                    </md-button>
                </md-dialog-actions>
            </form>
        </md-dialog>
    </script>
</div>
@section scripts{
    <script src="~/Scripts/Apps/controllers/shop.controller.js"></script>
    <script src="~/Scripts/Apps/services/shop.service.js"></script>    
}
