@model ThaoPhatRainCoat.Models.ShopModel

@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-app="appShopPage" ng-controller="shopController" ng-init="init()" id="shopController">
    @*<div class="top-carousel">
        <div class="carousel carousel-slider center " data-indicators="true">
            <div class="carousel-fixed-item center middle-indicator">
                <div class="left">
                    <a href="Previo" class="movePrevCarousel middle-indicator-text waves-effect waves-light content-indicator"><i class="fa fa-angle-left"></i></a>
                </div>

                <div class="right">
                    <a href="Siguiente" class=" moveNextCarousel middle-indicator-text waves-effect waves-light content-indicator"><i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <a class="carousel-item" href="#one!"><img ng-src="{{allSlides[0].ImageValue}}"></a>
            <a class="carousel-item" href="#one!"><img ng-src="{{allSlides[1].ImageValue}}"></a>
            <a class="carousel-item" href="#one!"><img ng-src="{{allSlides[2].ImageValue}}"></a>
            <a class="carousel-item" href="#one!"><img ng-src="{{allSlides[3].ImageValue}}"></a>
        </div>

    </div>*@
    <div class="top-control-bar" ng-if="token != ''">
        <ul class="top-control-bar-ul">
            <li>
                <a class="waves-effect waves-light btn btn-style-top-bar btn-new" ng-click="showAdvanced($event, false)">
                    <i class="fa fa-plus"></i> New
                </a>
                <a class="waves-effect waves-light btn btn-style-top-bar" ng-click="showSlideshowEdit($event)">
                    <i class="fa fa-edit"></i>Edit Slideshow
                </a>
            </li>
        </ul>
    </div>
    <div class="search-bar">
        <input type='text'
               placeholder=" Tìm kiếm theo tên sản phẩm..."
               id='search-text-input'
               ng-model="searchKey" />

        <div id='button-holder'
             class="waves-effect waves-light"
             ng-click="searchProduct()">
            <img src='~/Content/images/search-icon.png' />
        </div>
        <div id="filter-sort-by">
            <ul id="dropdown" class="dropdown-content">
                <li ng-click="sortBy($event)" name="1"><span>Giá: Cao tới thấp</span></li>
                <li ng-click="sortBy($event)" name="2"><span>Giá: Thấp tới cao</span></li>
                <li ng-click="sortBy($event)" name="3"><span>Tên - A đến Z</span></li>
                <li ng-click="sortBy($event)" name="4"><span>Tên - Z đến A</span></li>
            </ul>

            <button id="sort-criterion" class="dropdown-button w3-btn w3-round-xxlarge sort-by waves-effect waves-light w3-margin-left"
                    data-activates="dropdown">
                Sắp xếp
                <i class="fa fa-caret-down"></i>
            </button>
        </div>
    </div>
    <div class="grid-list-product">
        <div ng-repeat="product in allProducts"
             class="product-grid"
             ng-click="selectProduct($event, product)"
             ng-dblclick="showAdvanced($event, true)">
            <div class="product-image padding-left">
                <label class="label">
                    <img class="rounded image-avatar" ng-src="{{product.ImageValue}}" alt="productImage">
                </label>
            </div>
            <div class="product-name padding-left">
                <span>{{product.Name}}</span>
            </div>
            <div class="product-price padding-left">
                <span>{{product.Price | currency: "₫ ": 3}}</span>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="createUpdate.tmpl.html">
        <md-dialog aria-label="Product handler" class="dialog-template">
            <form ng-cloak class="dialog-form">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>{{isEditMode ? 'Edit product' : 'Create new product'}}</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="answer(false)">
                            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-dialog-content class="md-dialog-content-class">
                    <div class="md-dialog-content">
                        <div class="product-image-popup padding-left">
                            <div class="row">
                                <div class="col col-lg-6">
                                    <label class="label" data-toggle="tooltip" title="Choose the product's image">
                                        <img class="rounded" id="crop-image" ng-src="{{selectedProduct.ImageValue}}" alt="productImage">
                                        <input type="file" class="sr-only image-input" onchange="angular.element(this).scope().changeImage(this)" name="image" accept="image/*">
                                    </label>
                                </div>
                                <div class="col col-lg-6">
                                    <img class="rounded" id="original-image">
                                </div>
                            </div>
                        </div>
                        <div class="product-name-popup padding-left">
                            <input type="text" ng-model="selectedProduct.Name" placeholder="product's name" />
                        </div>
                        <div class="product-price-popup padding-left">
                            <input type="number" ng-model="selectedProduct.Price" />
                        </div>
                    </div>
                </md-dialog-content>
                <md-dialog-actions layout="row">
                    <md-button class="waves-effect waves-light btn" ng-click="answer(true, selectedProduct)">
                        Save
                    </md-button>
                    <md-button class="waves-effect waves-light btn grey lighten-2" ng-click="answer(false)">
                        Cancel
                    </md-button>
                    <md-button ng-if="isEditMode" class="btn waves-effect waves-light red lighten-2" ng-click="delete()">
                        Delete
                    </md-button>
                </md-dialog-actions>
            </form>
        </md-dialog>
    </script>
    <script type="text/ng-template" id="editSlideshow.tmpl.html">
        <md-dialog aria-label="Product handler" class="dialog-template">
            <form ng-cloak class="dialog-form">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Edit Slideshow</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="close()">
                            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-dialog-content class="md-dialog-content-class">
                    <div class="md-dialog-content">
                        <div ng-repeat="slide in listSlideshow" class="slideshow-popup" tabindex="0" ng-click="clickImage($event, slide)">
                            <div class="row">
                                <div class="col col-lg-1">slide {{$index + 1}}</div>
                                <div class="col col-lg-4">
                                    <label class="label" data-toggle="tooltip" title="Choose the slide's image">
                                        <img class="rounded" id="crop-image-{{slide.Id}}" ng-src="{{slide.ImageValue}}" alt="slideImage">
                                        <input type="file" class="sr-only image-input" onchange="angular.element(this).scope().changeImage(this)" name="image" accept="image/*">
                                    </label>
                                </div>
                                <div class="col col-lg-5">
                                    <img class="rounded original-image-slideshow" id="original-image-{{slide.Id}}">
                                </div>
                                <div class="col col-lg-2" ng-show="slide.Id == selectedSlide.Id">
                                    <md-button class="waves-effect waves-light btn" ng-click="save()">
                                        Save
                                    </md-button>
                                    <md-button class="waves-effect waves-light btn grey lighten-2" ng-click="cancel()">
                                        Cancel
                                    </md-button>
                                    <md-button class="waves-effect waves-light btn red lighten-2" ng-click="delete()">
                                        Delete
                                    </md-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-dialog-content>
                <md-dialog-actions layout="row">
                    <md-button class="waves-effect waves-light btn" ng-click="save()">
                        Save
                    </md-button>
                    <md-button class="waves-effect waves-light btn grey lighten-2" ng-click="cancel()">
                        Cancel
                    </md-button>
                    <md-button class="waves-effect waves-light btn red lighten-2" ng-click="delete()">
                        Delete
                    </md-button>
                </md-dialog-actions>
            </form>
        </md-dialog>
    </script>
</div>
@section scripts{
    <script src="~/Scripts/Apps/controllers/shop.controller.js"></script>
    <script src="~/Scripts/Apps/services/shop.service.js"></script>
}
