@model ThaoPhatRainCoat.Models.ShopModel

@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-app="appShopPage" ng-controller="shopController" ng-init="init()" id="shopController">
    <div class="top-carousel">
        <div class="carousel carousel-slider center " data-indicators="true">
            <div class="carousel-fixed-item center middle-indicator">
                <div class="left">
                    <a href="Previo" class="movePrevCarousel middle-indicator-text waves-effect waves-light content-indicator"><i class="fa fa-angle-left"></i></a>
                </div>

                <div class="right">
                    <a href="Siguiente" class=" moveNextCarousel middle-indicator-text waves-effect waves-light content-indicator"><i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <a class="carousel-item" href="#one!"><img src="http://s20.postimg.org/h50tgcuz1/image.jpg"></a>
            <a class="carousel-item" href="#two!"><img src="http://s20.postimg.org/uxf8bzlql/image.jpg"></a>
            <a class="carousel-item" href="#two!"><img src="http://s20.postimg.org/el56m97f1/image.jpg"></a>
            <a class="carousel-item" href="#two!"><img src="http://s20.postimg.org/66pjy66dp/image.jpg"></a>
        </div>

    </div>
    <div class="top-control-bar">
        <ul class="top-control-bar-ul">
            <li>
                <a class="waves-effect waves-light btn btn-style-top-bar btn-new"
                   ng-click="addNewProduct()"
                   ng-if="isShowNew">
                    <i class="fa fa-plus"></i> New
                </a>
                <a class="waves-effect waves-light btn btn-style-top-bar btn-save"
                   ng-click="confirmSaveNewProduct()"
                   ng-if="!isShowNew">
                    <i class="fa fa-save"></i> Save
                </a>
            </li>
            <li>
                <a class="waves-effect waves-light btn btn-style-top-bar btn-edit"
                   ng-click="editProduct()">
                    <i class="fa fa-edit"></i> Edit
                </a>
            </li>
            <li>
                <a class="waves-effect waves-light btn btn-style-top-bar btn-delete"
                   ng-click="deleteProduct()">
                    <i class="fa fa-remove"></i> Delete
                </a>
            </li>
        </ul>
    </div>
    <div class="search-bar">
        <input type='text'
               placeholder=" Search product's name..."
               id='search-text-input'
               ng-model="searchKey" />

        <div id='button-holder'
             class="waves-effect waves-light"
             ng-click="searchProduct()">
            <img src='~/Content/images/search-icon.png' />
        </div>
        <div id="filter-sort-by">
            <ul id="dropdown" class="dropdown-content">
                <li ng-click="sortBy($event)" name="1"><span>Catalog price: High to Low</span></li>
                <li ng-click="sortBy($event)" name="2"><span>Catalog price: Low to High</span></li>
                <li ng-click="sortBy($event)" name="3"><span>Name - A to Z</span></li>
                <li ng-click="sortBy($event)" name="4"><span>Name - Z to A</span></li>
            </ul>

            <button id="sort-criterion" class="dropdown-button w3-btn w3-round-xxlarge sort-by waves-effect waves-light w3-margin-left" 
                    data-activates="dropdown">
                Sort by
                <i class="fa fa-caret-down"></i>
            </button>
        </div>
    </div>
    <div class="grid-list-product">
        <div ng-repeat="product in allProducts" 
             class="product-grid"
             ng-click="selectProduct($event, product)">
            <div class="product-images padding-left">
                <img class="product-image" src="~/Content/images/books.jpg" />
            </div>
            <div class="product-name padding-left">
                <span ng-if="!product.isEditable">{{product.Name}}</span>
                <input type="text" ng-if="product.isEditable" ng-model="product.Name" placeholder="product's name"/>
            </div>
            <div class="product-price padding-left">
                <span ng-if="!product.isEditable">{{product.Price | currency: "₫ ": 3}}</span>
                <input type="number" ng-if="product.isEditable" ng-model="product.Price" />
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/Apps/controllers/shop.controller.js"></script>
    <script src="~/Scripts/Apps/services/shop.service.js"></script>    
}
