@model ThaoPhatRainCoat.Models.ShopModel

@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-app="appSlideshowPage" ng-controller="SlideshowController" ng-init="init()" id="slideShowController">
    <div class="top-carousel">
        <div class="carousel carousel-slider center " data-indicators="true">
            <div class="carousel-fixed-item center middle-indicator">
                <div class="left">
                    <a href="Previo" class="movePrevCarousel middle-indicator-text waves-effect waves-light content-indicator"><i class="fa fa-angle-left"></i></a>
                </div>

                <div class="right">
                    <a href="Siguiente" class=" moveNextCarousel middle-indicator-text waves-effect waves-light content-indicator"><i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            
            <a class="carousel-item" href="#one!"><img ng-src="{{allSlides[0].ImageValue}}"></a>
            <a class="carousel-item" href="#two!"><img ng-src="{{allSlides[1].ImageValue}}"></a>
            <a class="carousel-item" href="#two!"><img ng-src="{{allSlides[2].ImageValue}}"></a>
            <a class="carousel-item" href="#two!"><img ng-src="{{allSlides[3].ImageValue}}"></a>
        </div>

    </div>
    <div class="top-control-bar">
        <ul class="top-control-bar-ul">
            <li>
                <a class="waves-effect waves-light btn btn-style-top-bar btn-new" ng-click="showAdvanced($event, false)">
                    <i class="fa fa-plus"></i> New
                </a>
            </li>
        </ul>
    </div>
    <div class="grid-list-slide">
        <div ng-repeat="slide in allSlides"
             class="slide-grid"
             ng-click="selectSlide($event, slide)"
             ng-dblclick="showAdvanced($event, true)">
            <div class="slide-image padding-left">
                <label class="label">
                    <img class="rounded image-avatar" ng-src="{{slide.ImageValue}}" alt="slideImage">
                </label>
            </div>
            <div class="slide-name padding-left">
                <span>{{slide.Name}}</span>
            </div>
            @*<div class="slide-price padding-left">
                <span>{{slide.Order}}</span>
            </div>*@
        </div>
    </div>

    <script type="text/ng-template" id="createUpdate.tmpl.html">
        <md-dialog aria-label="Product handler" class="dialog-template">
            <form ng-cloak class="dialog-form">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>{{isEditMode ? 'Edit slide' : 'Create new slide'}}</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="answer(false)">
                            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-dialog-content class="md-dialog-content-class">
                    <div class="md-dialog-content">
                        <div class="product-image-popup padding-left">
                            <div class="row">
                                <div class="col col-lg-6">
                                    <label class="label" data-toggle="tooltip" title="Choose the product's image">
                                        <img class="rounded" id="crop-image" ng-src="{{selectedSlide.ImageValue}}" alt="slideImage">
                                        <input type="file" class="sr-only image-input" onchange="angular.element(this).scope().changeImage(this)" name="image" accept="image/*">
                                    </label>
                                </div>
                                <div class="col col-lg-6">
                                    <img class="rounded" id="original-image">
                                </div>
                            </div>
                        </div>
                        <div class="product-name-popup padding-left">
                            <input type="text" ng-model="selectedSlide.Name" placeholder="slide's name" />
                        </div>
                    </div>
                </md-dialog-content>
                <md-dialog-actions layout="row">
                    <md-button class="waves-effect waves-light btn" ng-click="answer(true, selectedSlide)">
                        Save
                    </md-button>
                    <md-button class="waves-effect waves-light btn grey lighten-2" ng-click="answer(false)">
                        Cancel
                    </md-button>
                    <md-button ng-if="isEditMode" class="btn waves-effect waves-light red lighten-2" ng-click="delete()">
                        Delete
                    </md-button>
                </md-dialog-actions>
            </form>
        </md-dialog>
    </script>
</div>
@section scripts{
    <script src="~/Scripts/Apps/controllers/slideshow.controller.js"></script>
    <script src="~/Scripts/Apps/services/slideshow.service.js"></script>
}
